@import "tailwindcss";

:root {
  --background: #fdfdfd;
  --foreground: #262626;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-lora: var(--font-lora);
  --font-handwriting: var(--font-handwriting);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #e5e5e5;
  }
}

@layer utilities {
  ::selection {
    background: #0a0a0a;
    color: #fdfdfd;
  }

  @media (prefers-color-scheme: dark) {
    ::selection {
      background: #fdfdfd;
      color: #0a0a0a;
    }
  }
}

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  text-rendering: optimizeLegibility;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

main {
  hanging-punctuation: first allow-end last;
  hyphens: auto;
  hyphenate-limit-chars: 10 5 5;
}

/* view transition */
@supports (view-transition-name: none) {
  @media not (prefers-reduced-motion: reduce) {
    ::view-transition-old(layout) {
      animation: hide 0.4s cubic-bezier(0.6, 0, 0.8, 1) forwards;
    }

    ::view-transition-new(layout) {
      opacity: 0;
      animation: appear 0.6s ease 0.2s forwards;
    }

    ::view-transition-old(pathname) {
      animation: hide 0.4s cubic-bezier(0.6, 0, 0.8, 1) forwards;
    }

    ::view-transition-new(pathname) {
      opacity: 0;
      animation: appear 0.6s ease 0.2s forwards;
    }
  }
}

@keyframes hide {
  0% {
    opacity: 1;
    filter: blur(0);
  }
  100% {
    opacity: 0;
    filter: blur(4px);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    filter: blur(4px);
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}
