@import "tailwindcss";

:root {
  --background: #fdfdfd;
  --foreground: #262626;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-lora: var(--font-lora);
  --font-handwriting: var(--font-handwriting)
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #e5e5e5;
  }
}

@layer utilities {
  ::selection {
    background: #0a0a0a;
    color: #fdfdfd;
  }

  @media (prefers-color-scheme: dark) {
    ::selection {
      background: #fdfdfd;
      color: #0a0a0a;
    }
  }
}

* {
  min-width: 0;
  scrollbar-width: thin;
  scrollbar-color: #e5e5e5 transparent;
}

@media (prefers-color-scheme: dark) {
  * {
    scrollbar-color: #262626 transparent;
  }
   }

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

main {
  hanging-punctuation: first allow-end last;
  hyphens: auto;
  hyphenate-limit-chars: 10 5 5;
}

@supports (view-transition-name: none) {
  @media not (prefers-reduced-motion: reduce) {
    ::view-transition-old(layout) {
      animation: hide 0.25s cubic-bezier(0.4, 0, 0.6, 1) forwards;
    }

    ::view-transition-new(layout) {
      opacity: 0;
      animation: appear 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.1s forwards;
    }

    ::view-transition-old(pathname) {
      animation: hide 0.25s cubic-bezier(0.4, 0, 0.6, 1) forwards;
    }

    ::view-transition-new(pathname) {
      opacity: 0;
      animation: appear 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.1s forwards;
    }
  }
}

@keyframes hide {
  0% {
    opacity: 1;
    filter: blur(0px);
  }
  100% {
    opacity: 0;
    filter: blur(4px);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    filter: blur(4px);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
  }
}